<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sireesha.bachao">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.UPDATE_APP_OPS_STATS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Bachao"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCV3qmGIYVcCUVoBekFdiQ5bJ7d3BgKLro" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Contact"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Track"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Bachao"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Welcome"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Question"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Tutorial1"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Tutorial2"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Tutorial3"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NotificationView"
            android:label="Details of notification"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- add SERVICE files below -->
        <service android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Receiver files below -->
        <receiver android:name=".NotificationReceiver">
            <intent-filter>
                <action android:name="YES_ACTION" />
                <action android:name="STOP_ACTION" />
            </intent-filter>
        </receiver>

        <!-- Receiver file for Widget -->
        <receiver android:name=".WidgetActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/bachaowidget" />
        </receiver>

        <activity android:name=".WidgetActivity" />
        <activity android:name=".SpotCrime"></activity>
    </application>

</manifest>